// COLORS
$color-text-white: #fff;

$color-text-light: #9597a5;

$color-text-dark: #2D314D;

//BACKGROUND GRADIENT
$site-btn-gradient: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);

// BACKGROUND-COLOR
$site-btn-bg: #30C88F;

// SECTION BACKGROUND
$section-bg-fa: #FAFAFA;
$section-bg-f4: #F4F5F7;
$footer-bg: #2D314D;