/* LATEST SECTION */

.latest-section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $section-bg-fa;
}

.latest__heading {
  margin: 0;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: $color-text-dark;
}

.latest__list {
  @include reset-list;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.latest__item {
  width: 255px;
  height: 395px;
  background-color: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
}

.latest__img {
  display: block;
  width: 255px;
  height: 200px;
}

.latest__content {
  padding-top: 25px;
  padding-right: 24px;
  padding-left: 24px;
}

.latest__author {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
  color: $color-text-light;
}

.latest__link {
  @include reset-link;
  margin-top: 8px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.285714px;
  color: $color-text-dark;
  transition: color 0.2s ease;
}

.latest__link:hover {
  color: #30C88F;
}

.latest__description {
  margin-top: 8px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
  color: $color-text-light;
}

@include breakpoint-down (1150px) {
  .latest-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .latest__list {
    align-items: stretch;
  }

  .latest__item {
    width: 23%;
    height: auto;
    padding-bottom: 24px;
  }

  .latest__img {
    width: 100%;
    height: auto;
  }
}

@include breakpoint-down (1010px) {
  .latest__heading {
    text-align: center;
  }

  .latest__list {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .latest__item {
    width: 40%;
  }

  .latest__item:nth-child(1), .latest__item:nth-child(2) {
    margin-bottom: 40px;
  }
}

@include breakpoint-down (565px) {
  .latest-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .latest__heading {
    font-size: 32px;
    line-height: 38px;
  }

  .latest__list {
    justify-content: center;
  }

  .latest__item {
    width: 90%;
  }

  .latest__item:not(.latest__item:last-child) {
    margin-bottom: 24px;
  }

}

@include breakpoint-down (350px) {
  .latest__heading {
    font-size: 25px;
    line-height: 30px;
  }
}